@import 'src/presentation/styles/themes/light.scss';

.section {
    background-color: #F0F4FB;
    width: 100%;
    padding: 6.575rem 0;
    margin: 2.075rem 0;

    @media (max-width: 1184px) {
        padding: 5rem 0;
    }

    @media (max-width: 768px) {
        padding: 3rem 0;
    }
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 1.075rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;

    @media (max-width: 1184px) {
        align-items: flex-start;
        text-align: left;
    }

    @media (max-width: 768px) {
        gap: 2rem;
        align-items: stretch;
    }
}

.title {
    color: #1c1c1c;
    font-size: 72px;
    line-height: 72px;
    font-weight: 500;
    max-width: 1340px;
    text-align: left;

    @media (max-width: 1184px) {
        text-align: left;
        font-size: 30px;
        line-height: 30px;
    }

    @media (max-width: 768px) {
        font-size: 32px;
        line-height: 36px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.575rem;

    @media (max-width: 1184px) {
        gap: 2rem;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1.075rem;
    padding: 0;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: transparent;
    border-radius: 12px;
    margin-bottom: 0.25rem;

    @media (max-width: 768px) {
        width: 48px;
        height: 48px;
    }
}

.icon {
    color: #1c1c1c;
    width: 50px;
    height: 50px;
    stroke-width: 1.5;

    @media (max-width: 768px) {
        width: 32px;
        height: 32px;
    }
}

.cardTitle {
    color: #1c1c1c;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;

    @media (max-width: 1184px) {
        font-size: 24px;
        line-height: 24px;
    }

    @media (max-width: 768px) {
        font-size: 28px;
        line-height: 28px;
    }
}

.cardDescription {
    color: #1c1c1c;
    font-family: 'Domine', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;

    @media (max-width: 1184px) {
        font-size: 15px;
        line-height: 23px;
    }

    @media (max-width: 768px) {
        font-size: 18px;
        line-height: 27px;
    }
}

.card {
    @media (max-width: 768px) {
        padding: 1rem;
    }
}